examples/MathUtils20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:description xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:ns1="http://org.apache.axis2/xsd" 
	xmlns:ns="http://ws.apache.org/axis2" 
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	targetNamespace="http://ws.apache.org/axis2">

<wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xsd:element name="pow">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="a" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="b" type="xsd:positiveInteger"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="powResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="mult">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="a" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="b" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="multResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="division">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="a" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="b" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="divisionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="a" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="b" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

	<wsdl:interface name="MathUtils">

	<wsdl:operation name="add"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">


            <wsdl:input element="msg:add"/>
            <wsdl:output element="msg:addResponse"/>
        </wsdl:operation>

	<wsdl:operation name="mult"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">


            <wsdl:input element="msg:mult"/>
            <wsdl:output element="msg:multResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="pow"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">


            <wsdl:input element="msg:pow"/>
            <wsdl:output element="msg:powResponse"/>
        </wsdl:operation>

	<wsdl:operation name="division"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe="true">


            <wsdl:input element="msg:division"/>
            <wsdl:output element="msg:divisionResponse"/>
        </wsdl:operation>

    </wsdl:interface>

 <!--
    Binding
    -->
    <wsdl:binding name="MathUtilsHTTPBinding"
        type="http://www.w3.org/ns/wsdl/http"
        interface="tns:MathUtils">

       
        <wsdl:operation ref="tns:add" whttp:method="GET"
                whttp:location="add"/>

	 <wsdl:operation ref="tns:mult" whttp:method="GET"
                whttp:location="mult"/>

	 <wsdl:operation ref="tns:pow" whttp:method="GET"
                whttp:location="pow"/>

	 <wsdl:operation ref="tns:division" whttp:method="GET"
                whttp:location="division"/>


    </wsdl:binding>

    <!--
    Service
    -->
    <wsdl:service name="MathUtils" interface="tns:MathUtils">

        <wsdl:endpoint name="MathUtilsHTTPEndpoint"
            binding="tns:MathUtilsHTTPBinding"
            address="http://localhost:8080/">

        </wsdl:endpoint>

    </wsdl:service>

</wsdl:description>
